/* Home */

.home_holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home {
    margin-top: 10vh;
    width:90%;
    height: 65vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.73)), url(../img/sug-1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text h4{
    color: #D46941;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.home-text h1{
    color: #fff;
    font-size: 65px;
    font-family: 'Volkhov';
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
}

.home-text p{
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}

.home-img img {
    max-width: 100%;
    width: 800px;
    height: auto;
}

/* Booking */

.dest-search {
    position: absolute;
    bottom: -20%;
    position: revert;
    padding: 0 0 0 5rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#dropdown-container:nth-child(2),#dropdown-container:nth-child(3),#dropdown-container:nth-child(4) {
    padding-left: 2rem;
}

#dropdown-container {
    margin: 20px 0 20px 0;
    /* border: 1px solid red; */
    width: 25%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#dropdown-container p{
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.drop-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e9e9ed;
    color: #212832;
    border: none;
    cursor: pointer;
}

input {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e9e9ed;
    color: #212832;
    border: none;
    cursor: pointer;
}

.drop-btn:focus {
    border: 2px solid #000;
    outline: none;
}

.btn-con {
    display: flex;
    width: 20%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    height: inherit;
    margin-left: 20px;
}

.btn {
    height: 100%;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    color: #000;
    text-transform: capitalize;
    padding: 10px 20px;
    background-color: #fff1da;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    transition: all .42s;
}

/* Suggested Locations */

.dest-text h2 {
    font-size: 50px;
    color: #14183e;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-bottom: 50px;
}

.Destination {
    margin-top: 10rem;
}

.home-text i{
    color: white;
    font-size: 3rem;
}

.home{
    justify-content: space-between;
}

.home-text{
    width: 50%;
}

.home_swiper{
    width: 30%;
    height: 50vh;
    border-radius: 2rem;
}

.home_swiper .swiper-slide{
    height: 100%;
    background-position: center;
    background-size: cover;
}

@media all and (max-width:1200px){
    .home{
        /* flex-direction: column; */
        min-height: 80vh;
        padding: 0;
        position: relative !important;
        justify-content: center;
        /* gap: 3rem; */
    }
    .home-text{
        padding: 0;
        width: auto;
        text-align: center;
    }
    .home_swiper{
        position: absolute !important;
        height: 80vh;
        width: 100%;
        border-radius: 0;
        z-index: 1;
    }
    .home-text{
        z-index: 5;
    }

    .dest-search{
        width: 90%;
        border-radius: 0;
        padding: 0 0 0 2.5%;
        justify-content: space-between;
        gap: 1rem;
        position: revert;
    }
    .btn-con{
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    #dropdown-container{
        width: 20%;
    }
    
    .btn-con .btn{
        border-radius: 0;
    }
}

@media all and (max-width:1100px){
    .dest-search{
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 70%;
    }

    #dropdown-container{
        width: 80%;
    }

    #dropdown-container:nth-child(2),#dropdown-container:nth-child(3),#dropdown-container:nth-child(4) {
        padding-left: 0;
        margin-top: 0;
    }

    .btn-con {
        width: 80%;
        margin: 0;
        padding-top: 10px;
    }

    .btn {
        border-radius: 0;
    }
}

@media all and (max-width: 800px) {
    .home{
        min-height: auto;
        height: 60vh;
        justify-content: center;
        /* margin-top: 10vh; */
    }
    .home_swiper{
        height: 60vh;
    }
    .home-text h1{
        font-size: 10vw;
    }
}

@media all and (max-width: 400px) {
    .header{
        height: 15vh;
    }
    .sticky{
        height: 15vh;
    }
    .home {
        margin-top: 15vh;
    }

}

